.comment-container {
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-avatar {
    margin-right: 10px;
}

.comment-author {
    font-weight: bold;
    margin-right: 5px;
}

.comment-content {
    margin-bottom: 5px;
}

.comment-input {
    display: flex;
    align-items: center;
}

.comment-input input[type="text"] {
    flex: 1;
    width: 100%;
    /* Alterado para preencher todo o espaço disponível */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-input button {
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.comment-input button:hover {
    background-color: #0056b3;
}