.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
}

.profile-username {
    font-size: 24px;
    font-weight: bold;
}

.profile-button-container {
    margin-bottom: 20px;
}

.profile-posts-container {
    margin-top: 40px;
}

.edit-button,
.delete-button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}